html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #c0e6ff;
  color: #1A1A1A;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

/* Estilo para o aside */
aside {
  margin-top: 9.375rem; /* 150px / 16px = 9.375rem */
  float: left;
  width: 50%;
}

/* Estilo para o article */
article {
  margin-top: 6.25rem; /* 100px / 16px = 6.25rem */
  float: right;
  width: 50%;
}

.container {
  height: 100%;
  box-sizing: border-box;
  padding-top: 3.125rem; /* 50px / 16px = 3.125rem */
  padding-bottom: 1.25rem; /* 20px / 16px = 1.25rem */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #285aff;
  color: #EDEDED;
  line-height: 3.75rem; /* 60px / 16px = 3.75rem */
  text-align: left;
  height: 3.75rem; /* 60px / 16px = 3.75rem */
}

h2 {
  font-size: 2.25rem; /* 36px / 16px = 2.25rem */
  margin-top: 0.125rem; /* 2px / 16px = 0.125rem */
  margin-left: 3.125rem; /* 50px / 16px = 3.125rem */
}

h1 {
  font-size: 2rem; /* 32px / 16px = 2rem */
  margin-top: 3.125rem; /* 50px / 16px = 3.125rem */
  margin-left: 6.25rem; /* 100px / 16px = 6.25rem */
}

p, label {
  margin-left: 3.125rem; /* 50px / 16px = 3.125rem */
}

form input[type="text"] {
  margin-top: 1.5625rem; /* 25px / 16px = 1.5625rem */
  margin-left: 3.125rem; /* 50px / 16px = 3.125rem */
  font-size: 1.25rem; /* 20px / 16px = 1.25rem */
  width: 18.75rem; /* 300px / 16px = 18.75rem */
  height: 1.875rem; /* 30px / 16px = 1.875rem */
  border-radius: 0.3125rem; /* 5px / 16px = 0.3125rem */
  background-color: #F2F9FF;
  border: none;
  color: #1A1A1A;
}

form input[type="password"] {
  margin-top: 1.5625rem; /* 25px / 16px = 1.5625rem */
  margin-left: 3.125rem; /* 50px / 16px = 3.125rem */
  font-size: 1.25rem; /* 20px / 16px = 1.25rem */
  width: 18.75rem; /* 300px / 16px = 18.75rem */
  height: 1.875rem; /* 30px / 16px = 1.875rem */
  border-radius: 0.3125rem; /* 5px / 16px = 0.3125rem */
  background-color: #F2F9FF;
  border: none;
  color: #1A1A1A;
}

button {
  background-color: #0080FF;
  border: none;
  color: #EDEDED;
  cursor: pointer;
  font-size: 1.25rem; /* 20px / 16px = 1.25rem */
  margin: 0.3125rem; /* 5px / 16px = 0.3125rem */
  margin-left: 3.125rem; /* 50px / 16px = 3.125rem */
  border-radius: 0.3125rem; /* 5px / 16px = 0.3125rem */
  height: 2.5rem; /* 40px / 16px = 2.5rem */
}

button:hover {
  background-color: #0066CC;
}

table {
  align-items: center;
  border: 1px solid #c6c6c6;
  border-collapse: collapse;
  width: 95rem; /* 1000px / 16px = 62.5rem */
  margin: 3.125rem; /* 50px / 16px = 3.125rem */
}

th {
  text-align: left;
  background-color: #0066CC;
  color: #EDEDED;
  padding: 1rem; /* 16px / 16px = 1rem */
}

td {
  border-bottom: 1px solid #c6c6c6;
  padding: 1rem; /* 16px / 16px = 1rem */
}

td:hover {
  background-color: #edf5ff;
}

footer {
  background-color: white;
  color: #ff4242;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.1875rem; /* 19px / 16px = 1.1875rem */
  padding: 0.25rem 0; /* 4px / 16px = 0.25rem */
}  